//  --------------------------------------------------
//  Image, box, etc styles

//  -styles for images, boxes etc.

//  ==================================================

    .fullWidth {
      width: 100%;
      height: auto;
    }

    .logo {
      width: auto;
      height: 70px;
      position: fixed;
      top: 40px;
      right: 40px;
    }
